/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.scrollable {
    max-width: 1200px;
    max-height: 300px;
    margin: auto;
    overflow-y: auto;
}

.scrollable thead th {
    position: sticky;
    top: 0;
}

.history-plot {
    max-width: 1200px;
    margin: auto;
}