{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <h3>Change Password</h3>
        <form action="/account" method="POST" id="change_password">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="current_password" placeholder="Current password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Re-type new password" type="password">
            </div>
            <button class="btn btn-primary" type="submit" name="submit" value="change_password">Change</button>
        </form>
        <br>
    <h3>Delete Account</h3>
        <a href="/account/delete"><button class="btn btn-danger">Delete Account</button></a>

{% endblock %}
