{% extends "layout.html" %}

{% block title %}
    Delete User
{% endblock %}

{% block main %}
<div class="mb-3">
    <h4>Are you sure you wish to delete your account?</h4>
    <p>Once deleted the data for you and any of your babies can not be retreived!</p>
    <form action="/account/delete" method="POST">
        <input type="hidden" name="delete_user" value="{{ user_id }}"> 
        <button class="btn btn-danger btn-sm">Delete Account</button>
    </form>

    
</div>
<div class="mb-3">
    <a href="/"><button class="btn btn-success btn-lg">Cancel</button></a>
<div>

{% endblock %}

