{% extends "layout.html" %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block title %}
    Feed History
{% endblock %}

{% block main %}

    <form action="/feed/history" method="GET">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" id="baby_id" name="baby_id" type="text">
                {% for baby in babies %}
                    <option value="{{ baby['baby_id'] }}">{{ baby["baby_name"] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary d-none">Submit (hidden button)</button>
    </form>

    <h2>Feed History</h2>
    <div class="history-plot" id="plot"></div>

<div class="scrollable">
    <table class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th>Time</th>
                <th>Type</th>
                <th>Duration (mins)</th>
                <th>Volume (ml)</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for feed in feeds %}
            <tr>
                <td>{{ feed["timestamp"] }}</td>
                <td>{{ feed["type"] }}</td>
                <td>{{ feed["duration_minutes"] }}</td>
                <td>{{ feed["quantity_ml"] }}</td>
                <td>
                    <form action="/feed/history/{{ baby_id }}" method="POST">
                        <input type="hidden" name="delete" value="{{ feed['feed_id'] }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script>
        var plotData = {{ plot_data | safe }};

        Plotly.plot("plot", plotData, {});
    </script>
    <script>
        const babySelect = document.getElementById("baby_id");
    
        babySelect.addEventListener("change", function() {
            const selectedBabyId = this.value;
            const newUrl = "/feed/history/" + selectedBabyId;
            window.location.href = newUrl;
        });
    </script>
{% endblock %}
