{% extends "layout.html" %}

{% block title %}
    Feed
{% endblock %}

{% block main %}
    <div class="mb-3">
        <form action="/feed" method="post">
            <div class="mb-3">
                <label class="inline-form" for="baby_id">Which baby? </label>
                <select class="form-select mx-auto w-auto inline-form" id="baby_id" name="baby_id" type="text">
                    {% for baby in babies %}
                        <option value="{{ baby['baby_id'] }}">{{ baby["baby_name"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label>Breast or bottle feed?</label>
                <input type="radio" class="btn-check" name="options-outlined" id="btn-check-outlined" autocomplete="off" value="Breast" required>
                <label class="btn btn-outline-primary" for="btn-check-outlined">Breast</label>

                <input type="radio" class="btn-check" name="options-outlined" id="btn-check-2-outlined" autocomplete="off" value="Bottle">
                <label class="btn btn-outline-primary" for="btn-check-2-outlined">Bottle</label>
            </div>
            <div class="mb-3">
                <label for="feed_time">What time did they start feeding? </label>
                <input class="form-control mx-auto w-auto inline-form" type="datetime-local" id="feed_time" name="feed_time" max="" required>
            </div>
            <div class="mb-3">
                <label for="feed_length">How long did they feed for (minutes)? </label>
                <input class="form-control mx-auto w-auto inline-form" type="number" id="feed_length" name="feed_length" placeholder="Required" style="width: 90px;">
            </div>
            <div class="mb-3">
                <label for="feed_volume">How much did they have (ml)? </label>
                <input class="form-control mx-auto w-auto" type="number" id="feed_volume" name="feed_volume" placeholder="Required" style="width: 90px;">
            </div>
            <button class="btn btn-primary" type="submit">Log Feed</button>
        </form>
    </div>
    <div class="mb-3">
        <a href="/feed/history/{{ babies[0]['baby_id'] }}"><button class="btn btn-secondary" type="button" id="history_button">Feed History</button></a>
    </div>
    <script>
        const now = new Date();
        const formattedNow = now.toISOString().slice(0, 16); // Format: YYYY-MM-DDTHH:MM
        document.getElementById("feed_time").setAttribute("max", formattedNow);
    </script>
    <script>
        const feedLengthInput = document.getElementById("feed_length");
        const feedVolumeInput = document.getElementById("feed_volume");
        const feedLengthLabel = document.querySelector('label[for="feed_length"]');
        const feedVolumeLabel = document.querySelector('label[for="feed_volume"]');
      
        const handleRadioChange = (event) => {
          const selectedOption = event.target.value;
          if (selectedOption === "Breast") {
            feedLengthLabel.style.display = "inline";
            feedVolumeLabel.style.display = "none";
            feedLengthInput.style.display = "inline"; 
            feedVolumeInput.style.display = "none";

            feedLengthInput.setAttribute("required", true);
            feedVolumeInput.removeAttribute("required");

          } else if (selectedOption === "Bottle") {
            feedLengthLabel.style.display = "none";
            feedVolumeLabel.style.display = "inline";
            feedLengthInput.style.display = "none"; 
            feedVolumeInput.style.display = "inline";
            
            feedLengthInput.removeAttribute("required");
            feedVolumeInput.setAttribute("required", true);
            

          } else {
            feedLengthInput.style.display = "none";
            feedVolumeInput.style.display = "none"; 
            feedLengthLabel.style.display = "none";
            feedVolumeLabel.style.display = "none";

            feedLengthInput.removeAttribute("required");
            feedVolumeInput.removeAttribute("required");

          }
        };
      
        const radioButtons = document.querySelectorAll('input[name="options-outlined"]');
        radioButtons.forEach(radioButton => radioButton.addEventListener("change", handleRadioChange));
      
        // Set initial state (hide all initially)
        feedLengthLabel.style.display = "none";
        feedVolumeLabel.style.display = "none";
        feedLengthInput.style.display = "none";
        feedVolumeInput.style.display = "none";
        feedLengthInput.removeAttribute("required");
        feedVolumeInput.removeAttribute("required");
      </script>
{% endblock %}
