{% extends "layout.html" %}

{% block title %}
    Babies
{% endblock %}

{% block main %}
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for baby in babies %}
            <tr>
                <td>{{ baby["baby_name"] }}</td>
                <td>{{ baby["birthdate"] }}</td>
                <td>{{ baby["gender"] }}</td>
                <td><a href="/delete_baby/{{ baby["baby_id"] }}"><button class="btn btn-danger btn-sm">Delete</button></a></td>
            </tr>
            {% endfor %}
            <tr>
                <form method="POST" action="/">
                    <td>
                        <input class="form-control w-auto mx-auto" type="text" placeholder="Baby's Name" maxlength="30" name="baby_name" id="baby_name" required>
                    </td>
                    <td>
                        <input class="form-control w-auto mx-auto" type="date" placeholder="Baby's DOB" name="baby_dob" id="baby_dob" max="" required>
                    </td>
                    <td>
                        <!-- <label for="baby_gender"></label> -->
                        <select class="form-control w-auto mx-auto" id="baby_gender" name="baby_gender" required>
                            <option value="Unspecified">Prefer not to say</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>

                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary">Add Baby</button>
                    </td>
                </form>
                <script>
                    const now = new Date();
                    const formattedNow = now.toISOString().slice(0, 10); // Format: YYYY-MM-DD
                    document.getElementById("baby_dob").setAttribute("max", formattedNow);
                </script>
            </tr>
        </tbody>
    </table>
{% endblock %}
