{% extends "layout.html" %}

{% block title %}
    Sleep
{% endblock %}

{% block main %}
    <div class="mb-3">
        <form action="/sleep" method="post">
            <div class="mb-3">
                <select class="form-select mx-auto w-auto" id="baby_id" name="baby_id" type="text">
                    {% for baby in babies %}
                        <option value="{{ baby['baby_id'] }}">{{ baby["baby_name"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="start_time">What time did they fall asleep? </label>
                <input type="datetime-local" id="start_time" name="start_time" max="" required>
            </div>
            <div class="mb-3">
                <label for="end_time">What time did they wake up? </label>
                <input type="datetime-local" id="end_time" name="end_time" max="" required>
            </div>
            <button class="btn btn-primary" type="submit">Log Sleep</button>
        </form>
    </div>
    <div class="mb-3">
        <a href="/sleep/history/{{ babies[0]['baby_id'] }}"><button class="btn btn-secondary" type="button" id="history_button">Sleep History</button></a>
    </div>
    <script>
        const now = new Date();
        const formattedNow = now.toISOString().slice(0, 16); // Format: YYYY-MM-DDTHH:MM
        document.getElementById("start_time").setAttribute("max", formattedNow);
        document.getElementById("end_time").setAttribute("max", formattedNow);
    </script>
{% endblock %}
